<!-- <ul class="list-group">
        <li class="list-group-item" ui-sref="state1">Item 1</li>
        <li class="list-group-item" ui-sref="state2">Item 2</li>
      </ul> -->


<nav class="navbar navbar-default leftSideNav" role="navigation">
	<div>
		<ul class="nav">
			<li>
				<a href="">
					<span>
						<span class="glyphicon glyphicon-user"></span>
						<span>fdsffadsf</span>
					</span>
				</a>
			</li>

			<li>
				<a href="">
					<span>
						<span class="glyphicon glyphicon-user"></span>
						<span>fdsffadsf</span>
					</span>
				</a>
			</li>

			<li ng-click="kk()">
				<a href="">
					<span>
						<span class="glyphicon glyphicon-user"></span>
						<span>fdsffadsf</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
</nav>